{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Fervency 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131006

-->
{% block stuff %}
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Biosketch</h2>
        </div>
		<div class="content" style="font-size: x-large;">
			<p>I am a Software Engineer and PhD Biochemist from Lisbon, Portugal.</p>
            <p>I did research in Systems Biology at the <a target="_blank" href="http://ciencias.ulisboa.pt/en/">University of Lisbon</a>, <a target="_blank" href="http://www.utsouthwestern.edu/">The UT Southwestern Medical Center</a> at Dallas and <a target="_blank" href="http://www.uthscsa.edu/">The UT Health Science Center at San Antonio</a>.</p>
            <p>I taught Systems Biology at the <a target="_blank" href="http://ciencias.ulisboa.pt/en/">University of Lisbon</a>.</p>
            <p>I develop software for laboratories and healthcare providers at <a target="_blank" href="http://www.maxdata.pt/en/home/">Maxdata</a>.</p>
            <p>Besides computers and science, I like philosophy, traveling, tennis and <a target="_blank" href="http://www.slbenfica.pt/">SL Benfica</a>.</p>
        </div>
    </div>
</div>
{% endblock stuff %}
