{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Fervency 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131006

-->
{% block stuff %}
<div id="wrapper3">
    <div id="portfolio" class="container" style="text-align: center;">
        <div class="title">
            <h2>Links</h2>
            <p><br /></p>
        </div>
        <a target="_blank" style="text-decoration: none;" href="http://www.safecloud-project.eu/"><h3>SafeCloud</h3></a>
        <p>A project funded by the European Commission that I contributed to as part of my work at <a target="_blank" style="text-decoration: none; color: #000000;" href="http://www.maxdata.pt/en/home/">Maxdata</a>.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.maxdata.pt/en/home/"><h3>Maxdata</h3></a>
        <p>Where I am developing software for labs and healthcare providers since 2017.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.tiehh.ttu.edu/dr.-degeng-wang.html"><h3>Degeng Wang's Laboratory</h3></a>
        <p>With whom I did postdoctoral research at <a target="_blank" style="text-decoration: none; color: #000000;" href="http://ccri.uthscsa.edu/">UT Health San Antonio</a>. (They are now at Texas Tech.)</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.altschulerwulab.org/"><h3>Steven Altschuler and Lani Wu's Laboratory</h3></a>
        <p>With whom I did postdoctoral research at <a target="_blank" style="text-decoration: none; color: #000000;" href="http://www.utsouthwestern.edu/">UT Southwestern</a>. (They are now at UCSF.)</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.dtu.dk/english"><h3>Technical University of Denmark</h3></a>
        <p>Where I did an internship in yeast biotechnology.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://enzymology.fc.ul.pt/"><h3>Enzymology Group at the University of Lisbon</h3></a>
        <p>With whom I did my Ph.D. research.</p>
        <p><br /></p>
    </div>
</div>
{% endblock stuff %}
