{% extends "base_pt.html" %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Fervency 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131006

-->

{% block stuff %}
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Biografia</h2>
        </div>
		<div class="content" style="font-size: x-large;">
			<p>Sou um engenheiro de software e bioquímico de Lisboa.</p>
            <p>Fiz investigação em Biologia de Sistemas na <a target="_blank" href="http://ciencias.ulisboa.pt/">Faculdade de Ciências de Lisboa</a>, no <a target="_blank" href="http://www.utsouthwestern.edu/">UT Southwestern Medical Center</a> em Dallas e no <a target="_blank" href="http://www.uthscsa.edu/">UT Health Science Center at San Antonio</a>.</p>
            <p>Fui professor de Biologia de Sistemas na <a target="_blank" href="http://ciencias.ulisboa.pt/">Faculdade de Ciências de Lisboa</a>.</p>
            <p>Desenvolvo software para laboratórios e instituições de saúde na <a target="_blank" href="http://www.maxdata.pt/pt/home/">Maxdata</a>.</p>
            <p>Além de computadores e ciência, gosto de filosofar, de viajar, de jogar ténis e do Sport Lisboa e Benfica</a>.</p>
        </div>
    </div>
</div>
{% endblock stuff %}
