{% extends "base_pt.html" %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Fervency 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131006

-->
{% block stuff %}
<div id="wrapper3">
    <div id="portfolio" class="container" style="text-align: center;">
        <div class="title">
            <h2>Ligações</h2>
            <p><br /></p>
        </div>
        <a target="_blank" style="text-decoration: none;" href="http://www.safecloud-project.eu/"><h3>SafeCloud</h3></a>
        <p>Um projecto financiado pela Comissão Europeia para o qual contribuí como parte do meu trabalho na <a target="_blank" style="text-decoration: none; color: #000000;" href="http://www.maxdata.pt/pt/home/">Maxdata</a>.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.maxdata.pt/pt/home/"><h3>Maxdata</h3></a>
        <p>Onde desenvolvo software para laboratórios e instituições de saúde desde 2017.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.tiehh.ttu.edu/dr.-degeng-wang.html"><h3>Laboratório de Degeng Wang</h3></a>
        <p>Onde desenvolvi investigação pós-doutoral no <a target="_blank" style="text-decoration: none; color: #000000;" href="http://ccri.uthscsa.edu/">UT Health San Antonio</a>. (Actualmente na Texas Tech.)</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.altschulerwulab.org/"><h3>Laboratório de Steven Altschuler e Lani Wu</h3></a>
        <p>Onde desenvolvi investigação pós-doutoral na <a target="_blank" style="text-decoration: none; color: #000000;" href="http://www.utsouthwestern.edu/">UT Southwestern</a>. (Actualmente estão na UCSF.)</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://www.dtu.dk/english"><h3>Universidade Técnica da Dinamarca</h3></a>
        <p>Onde fiz parte do meu doutoramento, num projecto de colaboração em Biotecnologia Microbiana.</p>
        <p><br /></p>
        <a target="_blank" style="text-decoration: none;" href="http://enzymology.fc.ul.pt/"><h3>Grupo de Enzimologia da Faculdade de Ciências da Universidade de Lisboa</h3></a>
        <p>Onde fiz o meu doutoramento em Bioquímica Teórica.</p>
        <p><br /></p>
    </div>
</div>
{% endblock stuff %}
